<!DOCTYPE html>
<html>
    <head>
        <title>CarlesPPPPP</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
      <!--  {% load static %}
          <link rel="stylesheet" type="text/css" href="{% static larb/static/css/styles.css" />-->
        <!--<link rel="stylesheet" type="text/css" href="C:\Projects\carles_test\larb\static\css\styles.css" />-->
    </head>
    <body class="logged-out">
      <div id="stamos" >fffff </div>
      <!--<strong> No entenc el que passa </strong>-->
    </body>
</html>
